/*Home Arcticle*/

.arcticle {
  border-bottom: 2px solid #f3f3f3;
}

.arcticle__info {
  display: flex;
  padding: 25px 5px;
  justify-content: space-between;

  .arcticle__info__name {
    color: #5cb85c;
    font-weight: 700;
  }

  .arcticle__info__date {
    font-size: 13px;
  }

  .arcticle__info__like {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #5cb85c !important;
    border-radius: 5px;

    &:hover {
      background-color: #5cb85c !important;
    }

    .arcticle__info__like__img {
      width: 15px;
    }
  }
}

.arcticle__body {
  .arcticle__body__wrapper {
    .arcticle__body__title {
      font-size: 25px;
      font-weight: 500;
    }

    .arcticle__body__description {
      padding-top: 10px;
      font-size: 17px;
      font-weight: 100;
    }

    .arcticle__body__more {
      padding-top: 20px;
    }
  }
}

.arcticle__tags__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding-bottom: 20px;

  .arcticle__tags__list__item {
    margin: 2px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #bbb !important;
    border-radius: 20px;
  }
}

/*Arcticle Page*/

.arcticle__page__info {
  padding: 20px 17%;
  background: #333;

  .arcticle__page__info__title {
    font-size: 40px;
    color: white;
  }
}

.arcticle__page__body {
  padding: 20px 17%;

  .arcticle__page__body__text {
    padding-bottom: 50px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .arcticle__page__info__title {
    font-size: 30px;
    color: white;
  }
}
